
.container{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
}


.sideBar{
    position: fixed;
    width: 60px;
    height: 100%;
    background-color: black;
    display: flex;
}

.content{
    position: fixed;
    left: 60px;
    width: calc(100% - 60px);
    height: 100%;
}